<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.volentake">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Volentake">
        <activity
            android:name=".FeedPostsVolByType"
            android:exported="false" />
        <activity
            android:name=".FeedPostsAssByCity"
            android:exported="false" />
        <activity
            android:name=".FeedPostsVolByCity"
            android:exported="false" />
        <activity
            android:name=".edit_num_of_volunteers_request"
            android:exported="false" />
        <activity
            android:name=".details_request_afterans"
            android:exported="false" />
        <activity
            android:name=".DetailsActivePostVol"
            android:exported="false" />
        <activity
            android:name=".AdapterActivePostVol"
            android:exported="false" />
        <activity
            android:name=".FeedActivePostsVol"
            android:exported="false" />
        <activity
            android:name=".VolunteerDetailsForAssoc"
            android:exported="false" />
        <activity
            android:name=".DetailsResponse"
            android:exported="false" />
        <activity
            android:name=".InboxResponses"
            android:exported="false" />
        <activity
            android:name=".responseShape"
            android:exported="false" />
        <activity
            android:name=".requestShape"
            android:exported="false" />
        <activity
            android:name=".DetailsPostGuest"
            android:exported="false" />
        <activity
            android:name=".FeedPostGuest"
            android:exported="false" />
        <activity
            android:name=".DetailsPostAssociation"
            android:exported="false" />
        <activity
            android:name=".FeedPostsAssociation"
            android:exported="false" />
        <activity
            android:name=".EditPost"
            android:exported="false" />
        <activity
            android:name=".DetailsRequest"
            android:exported="false" />
        <activity
            android:name=".DetailsPostVol"
            android:exported="false" />
        <activity
            android:name=".InboxAssociation"
            android:exported="false" />
        <activity
            android:name=".RequestAssociation"
            android:exported="false" />
        <activity
            android:name=".postShape"
            android:exported="false" />
        <activity
            android:name=".picture_edit_post"
            android:exported="false" />
        <activity
            android:name=".picture_edit_vol"
            android:exported="false" />
        <activity
            android:name=".EditAssociation"
            android:exported="false" />
        <activity
            android:name=".EditVolunteer"
            android:exported="false" />
        <activity
            android:name=".Add_post"
            android:exported="false" />
        <activity
            android:name=".AssociationSignUp"
            android:exported="false" />
        <activity
            android:name=".AssociationPage"
            android:exported="false" />
        <activity
            android:name=".VolunteerPage"
            android:exported="false" />
        <activity
            android:name=".GuestUser"
            android:exported="false" />
        <activity
            android:name=".VolunteerUserSignUp"
            android:exported="false" />
        <activity
            android:name=".AssociationLogIn"
            android:exported="false" />
        <activity
            android:name=".VolunteerLogIn"
            android:exported="false" />
        <activity
            android:name=".FeedPostsVol"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>